#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex {
  display: flex;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin 2s ease-out forwards;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f0f0f0;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

input {
  margin: 0 5px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #888;
}

.inputs {
  display: flex;
  justify-content: center;
}

.input-group {
  margin: 10px;
  text-align: left;
}

.input-group label {
  display: block;
  margin: 5px 8px;
}

.delete-button {
  background-color: #f5bb1d;
  color: #FFF;
}

.create-button {
  background-color: #747bff;
  color: #FFF;
}

.edit-button {
  background-color: #9f72ed;
  color: #FFF;
}

button {
  margin: 20px 10px;
}

.task-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.urgency-icons {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.urgency-icons span {
  margin: 0 2px; 
}

.task-list h3 {
  display: flex;
  align-items: center;
}

 .urgency-icons {
  font-size: 0.5em;
  margin-left: 10px;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #f5bb1d; 
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


